.grid-container {
    height: 100vh;
    background-color: lightgray
}
.form-div {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 50vw;
    justify-content: space-evenly;
    align-content: center !important;
    background-color: mediumaquamarine;
    border-radius: 10px;
}
.label-div, .input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.submit-btn-div {
    display: flex;
    justify-content: end;
}
label {
    font-weight: bold;
}
input[type='text'], input[type='email'] {
    color: blue !important;
}
button {
    border-radius: 5px;
}